:root{
  
}
body{
    font-family: $font-family-stack;
    background-color: $background-color;
    color: $highlight-color;
    font-size: 1.5rem;
}
@keyframes welcome-animation {
    from {
        transform: rotate(0deg) scale(5);
      }
      to {
        transform: rotate(360deg) scale(5);
      }
  }
  
.landing-page{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    bottom:0;
    left: -50vw;
    background: linear-gradient(var(--welcome-direction), var(--day-bg-color) 0%, var(--night-bg-color) 100%);
    animation: welcome-animation linear 30s infinite;
}


@keyframes sun-moon-rotate {
    from {
        transform: translate(25vh,-25vw);

    }
    to {
        transform: translate(25vw, 75vh);
    }
}
.sun-moon-wrapper{
  height: 200vh;
  width: 200vw;
  position: fixed;
  top: -50vh;
  left: -50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sun-moon-path{
  height: 110vw;
  width: 110vw;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: sun-moon-path-rotate linear 30s infinite;
}


.sun{
    height: var(--sun-moon-dimensions);
    width: var(--sun-moon-dimensions);
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #FF8717 0%, rgba(255, 199, 0, 0.54) 75%, rgba(255, 199, 0, 0) 100%);
    filter: blur(4.5px);
    display: inline-flex;
}


.moon{
    height: var(--sun-moon-dimensions);
    width: var(--sun-moon-dimensions);
    border-radius: 50%;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #6C6C6C 0%, rgba(139, 139, 139, 0.54) 75%, rgba(211, 211, 211, 0.00) 100%);
    filter: blur(7px);
    display: inline-flex;
}

@keyframes sun-moon-path-rotate{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
