$font-family-stack: 'IBM Plex Sans', sans-serif;
$background-color: #676A68;
$text-color: #565656;

$text-letter-spacing: 0.2rem;

html{
    --sun-moon-dimensions: 40vw;
    --day-bg-color: #D8FFFD;
    // --night-bg-color: red;
    --night-bg-color: #2F6B9B;
    --welcome-direction: 90deg;


    --cloud-width-1: 36vw;
    --cloud-background-position-y-1: 0vh;
    --cloud-position-1: 4%;
    --cloud-width-2: 32vw;
    --cloud-background-position-y-2: 0vh;
    --cloud-position-2: 38%;
    --cloud-width-3: 43vw;
    --cloud-background-position-y-3: 0vh;
    --cloud-position-3: -3%;
    --cloud-width-4: 40vw;
    --cloud-background-position-y-4: 28vh;
    --cloud-position-4: -10%;
    --cloud-width-5: 53vw;
    --cloud-background-position-y-5: 17vh;
    --cloud-position-5: 23%;
    --cloud-width-6: 40vw;
    --cloud-background-position-y-6: 34vh;
    --cloud-position-6: -4%;
    --cloud-width-7: 55vw;
    --cloud-background-position-y-7: 54vh;
    --cloud-position-7: 0%;
    --cloud-width-8: 46vw;
    --cloud-background-position-y-8: 66vh;
    --cloud-position-8: -3%;
}