$font-family-stack: 'Retro Gaming', monospace;
$background-color: #676A68;
$highlight-color: #72FFF5;


html{
    --sun-moon-dimensions: 40vw;
    --day-bg-color: #D8FFFD;
    // --night-bg-color: red;
    --night-bg-color: #2F6B9B;
    --welcome-direction: 90deg;
}