$font-family-stack: 'IBM Plex Sans', sans-serif;
$background-color: #676A68;
$text-color: #565656;

$text-letter-spacing: 0.2rem;

html{
    --sun-moon-dimensions: 40vw;
    --day-bg-color: #D8FFFD;
    // --night-bg-color: red;
    --night-bg-color: #2F6B9B;
    --welcome-direction: 90deg;
}